.container {
    width: clamp(300px, 80vw, 1280px);
    margin: 0 auto;
    padding: 10px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 4px 2px 0px 2px;
    }
}